@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body{
    margin: 0;
}
body, .page1{
    height: 100vh;
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
}
.page1, .cabecalho1{
    font-family: 'Poppins';
    position: relative;
    
}
.t_h3{
    font-size: 24px;
    margin-left: 50px;
    font-weight: 500;
}
.home{
    margin-top: -50px;
    margin-left: 235px;
    font-size: 20px;
    font-weight: 500;
}
.menu{
    margin-top: -30px;
    margin-left: 345px;
    font-size: 20px;
    font-weight: 500;
}
.contact{
    margin-top: -30px;
    margin-left: 445px;
    font-size: 20px;
    font-weight: 500;
}
.shop{
    margin-top: -30px;
    margin-left: 575px;
    font-size: 20px;
    font-weight: 500;
}
li{
    list-style:none;
}
a:link, a:visited {
    color: #44455b;
	text-decoration: none;
}
.cab a:hover {
	color: #ff7e00;
}
a:active {
	text-decoration: none;
}
.search{

    margin-left: 815px;
    margin-top: -45px;
}
.search input{
    border: #f5ede1;
    padding-left: 50px;
    width: 150px;
    height: 45px;
    border-radius: 40px;
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    box-shadow: 0 0 2em rgb(202, 202, 202);

}
.search img{
    position: absolute;
    margin-left: 22px;
    margin-top: 15px;
}
.login{
    margin-left: 1035px;
    margin-top: -50px;
    border: 1px solid #2f2f2f;
    border-radius: 100px;
    width: 95px;
    height: 40px;
    padding-left: 53px;
    padding-top: 15px;
}
.sign_up{
    color: white;
    margin-left: 1198px;
    margin-top: -60px;
    background-color: #2f2f2f;
    border-radius: 100px;
    width: 100px;
    height: 44px;
    padding-left: 37px;
    padding-top: 15px;
}
.tit_1{
    font-size: 16px;
    margin-top: 60px;
    margin-left: 140px;
    color: #ff7e00;

}
.tit_3{
    margin-left: 290px;
    font-weight: 700;
    font-size: 43px;
    width: 0px;
    margin-top: -215px;
    line-height: 40px;
    /* color: rgb(0, 0, 1); */

}
.tit_2{
    font-weight: 700;
    font-size: 100px;
    margin-top: -40px;
    margin-left: 50px;
    color: rgba(255, 126, 0, 1);

}
.parag_1{
    font-size: 18px;
    margin-left: 50px;
    width: 460px;
    color:#909090;
}
.order_now{
    color: white;
    margin-left: 80px;
    margin-top: 50px;
    background-color: #2f2f2f;
    border-radius: 100px;
    width: 120px;
    height: 44px;
    padding-left: 30px;
    padding-top: 15px;
}
.order_process{
    margin-left: 314px;
    margin-top: -26px;
    /* padding-left: 30px;
    padding-top: 15px; */
}
.poligon{
    margin-top: -36px;
    margin-left: 272px;
}
.order1{
    background-color: white;
    border-radius: 100px;
    width: 53px;
    height: 53px;
    margin-left: 251px;
    margin-top: -57px;
}
.linha_estrelas{
    margin-top: 40px;
    margin-left: 52px;
}
.parag_2{
    margin-left: 50px;
    margin-top: 16px;
}
.p2{
    margin-left: 51px;
    margin-top: -10px;
    color:#909090;
    
}
.food_principal{
    position: relative;
    /* width: 500px; */
    margin-left: 680px;
    margin-top: -524px;
}
.chef_hat{
    display: flex;
    position: relative;
    margin-bottom: -50px;
    margin-top: 20px;
    margin-left: 30px;
}
.imagem1{
    position: relative;
    display: flex;
    margin-top: 40px;
    margin-bottom: -110px;
    margin-left: 50px;
}
.imagem2{
    position: relative;
    display: flex;
    margin-left: 400px;
    margin-bottom: 50px;
    margin-top: -220px;
}

/*page 2*/

body, .page2{
    height: 90vh;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Poppins';
    color: #44455b;
}
.titulo1{
    font-size: 50px;
    width: 580px;
    text-align: center;
    font-weight: 700;
    margin-left: 450px;
    margin-top: 40px;
}
.sub_1{
    margin-left: 50px;
    font-size: 20px;
}
.sub1_p1{
    margin-left: 50px;
    font-size: 16px;
    width: 385px;
    font-size: 15px;
}
.sub_2{
    position: absolute;
    margin-left: 505px;
    margin-top: 20px;
}
.sub2_p1{
    position: absolute;
    text-align: center;
    width: 200px;
    margin-left: 485px;
    font-size: 15px;
    margin-top: 50px;
}
.sub_3{
    position: absolute;
    margin-left: 790px;
    margin-top: 10px;
}
.sub3_p1{
    position: absolute;
    text-align: center;
    width: 200px;
    margin-left: 776px;
    font-size: 15px;
    margin-top: 42px;
}
.sub_4{
    position: absolute;
    margin-left: 1087px;
    margin-top: 5px;
}
.sub4_p1{
    position: absolute;
    text-align: center;
    width: 200px;
    margin-left: 1067px;
    font-size: 15px;
    margin-top: 37px;
}
.div1{
    position: relative;
    display: flex;
    background: #f5ede1;
    border-radius: 15px;
    height: 215px;
    width: 210px;
    margin-left: 480px;
    margin-top: -160px;
    box-shadow: 25px 10px 5px #c1c1c4;
}
.div2{
    position: relative;
    display: flex;
    background: #f5ede1;
    border-radius: 15px;
    height: 215px;
    width: 210px;
    margin-left: 770px;
    margin-top: -70px;
    box-shadow: 25px 10px 5px #c1c1c4;
}
.div3{
    position: relative;
    display: flex;
    background: #f5ede1;
    border-radius: 15px;
    height: 215px;
    width: 210px;
    margin-left: 1060px;
    margin-top: -77px;
    box-shadow: 25px 10px 5px #c1c1c4;
}
.img_balao1{
    position: relative;
    display: flex;
    margin-left: 565px;
    margin-top: -190px;
}
.img_balao2{
    position: relative;
    display: flex;
    margin-left: 845px;
    margin-top: -200px;
}
.img_balao3{
    position: relative;
    display: flex;
    margin-left: 1130px;
    margin-top: -200px;
}

/*page 3*/

.imagem3{
    position: static;
    margin-top: -160px;
}
body .page3{
    height: 120vh;
    background: #ffffff;
    font-family: 'Poppins';
    color: #44455b;
}
.titulo1-page3{
    margin-left: 730px;
    margin-top: -710px;
    color: rgba(244, 194, 118, 1);
}
.titulo2-page3{
    margin-left: 620px;
    margin-top: -30px;
    margin-bottom: 100px;
    font-size: 50px;
}
.div4{
    position: relative;
    display: flex;
    padding-left: 60px;
    background:#ffffff;
    border-radius: 15px;
    height: 250px;
    width: 150px;
    margin-left: 280px;
    margin-top: -200px;
    box-shadow: 0 0 5em rgb(214, 221, 221);
}
.div4, .div4-tit{
    margin-top: 140px;
    padding-top: 40px;
   
}
.div5{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#ffffff;
    border-radius: 15px;
    height: 250px;
    width: 150px;
    margin-left: 540px;
    margin-top: -310px;
    box-shadow: 0 0 5em rgb(214, 221, 221);
}
.div5-tit{
    margin-top: 170px;
}
.div6{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#ffffff;
    border-radius: 15px;
    height: 250px;
    width: 150px;
    margin-left: 810px;
    margin-top: -250px;
    box-shadow: 0 0 5em rgb(214, 221, 221);
}
.div6-tit{
    margin-top: 170px;
}
.div7{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#ffffff;
    border-radius: 15px;
    height: 250px;
    width: 150px;
    margin-left: 1080px;
    margin-top: -250px;
    box-shadow: 0 0 5em rgb(214, 221, 221);
}
.div7-tit{
    margin-top: 170px;
}
.img-div4{
    position: absolute; 
    display: flex;
    width: 200px;
    border-radius: 20px;
    border-top-left-radius: 60px;
    margin-left: -85px;
    margin-top: -85px;
}
.img-div5{
    position: absolute; 
    display: flex;
    width: 200px;
    border-radius: 10px;
    border-top-left-radius: 60px;
    margin-left: -82px;
    margin-top: -28px;
}
.img-div6{
    position: absolute; 
    display: flex;
    width: 200px;
    border-radius: 10px;
    border-top-left-radius: 60px;
    margin-left: -85px;
    margin-top: -30px;
}
.img-div7{
    position: absolute; 
    display: flex;
    width: 200px;
    border-radius: 10px;
    border-top-left-radius: 60px;
    margin-left: -85px;
    margin-top: -30px;
}
.estrelas1{
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 215px;
}
.estrelas2{
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 206px;
}
.estrelas3{
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 206px;
}
.estrelas4{
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 206px;
}
.bol1{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#44455b;
    border-radius: 50px;
    height: 60px;
    margin-top: 224px;
    margin-left: -164px;
}
.bol2{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#44455b;
    border-radius: 50px;
    height: 60px;
    margin-top: 224px;
    margin-left: -164px;
}
.bol3{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#44455b;
    border-radius: 50px;
    height: 60px;
    margin-top: 224px;
    margin-left: -164px;
}
.bol4{
    position: static;
    display: flex;
    padding-left: 60px;
    background:#44455b;
    border-radius: 50px;
    height: 60px;
    margin-top: 224px;
    margin-left: -164px;
}
.t_bol1{
    position: static;
    display: flex;
    padding-left: 60px;
    margin-top: 224px;
    margin-left: -105px;
    color: white;
}
.t_bol2{
    position: static;
    display: flex;
    padding-left: 60px;
    margin-top: 224px;
    margin-left: -107px;
    color: white;
}
.t_bol3{
    position: static;
    display: flex;
    padding-left: 60px;
    margin-top: 224px;
    margin-left: -110px;
    color: white;
}
.t_bol4{
    position: static;
    display: flex;
    padding-left: 60px;
    margin-top: 224px;
    margin-left: -110px;
    color: white;
}
.div8{
    color: white;
    padding-top: 10px;
    font-weight: 450px;
    position: static;
    display: flex;
    padding-left: 30px;
    margin-top: 90px;
    margin-left: 700px;
    background:#44455b;
    border-radius: 13px;
    width: 115px;
    height: 40px;
}




/*-----   tela 4   -----*/




.tela4{
    height: 160vh;
    background-color: white;
}
.frame_tela4{
    font-weight: 450px;
    position: relative;
    display: flex;
    padding-left: 30px;
    margin-top: -10px;
    margin-left: 115px;
    background:#f5ede1;
    border-radius: 50px;
    width: 1100px;
    height: 260px;
    box-shadow: 5px 10px 10px #c1c1c4;
}
.text_tela4{
    position: relative;
    margin-left: 150px;
    margin-top: -140px;
}
.ft1{
    position: relative;
    margin-left: 139px;
    margin-top: -230px;
}
.ft2{
    position: relative;
    margin-left: 330px;
    margin-top: -138px;
}
.ft3{
    position: relative;
    margin-left: 560px;
    margin-top: -200px;
}
.ft4{
    position: relative;
    margin-left: 782px;
    margin-top: -22px;
}
.ft5{
    position: relative;
    margin-left: 840px;
    margin-top: -215px;
}
.ft6{
    position: relative;
    margin-left: 990px;
    margin-top: -140px;
    width: 60px;
}
.ft7{
    position: relative;
    margin-left: 915px;
    margin-top: -200px;
}
/* .img4{
    position: relative;
    margin-top: -150px;
    margin-left: 1000px;

} */
/*position: relative;
    top: 50%;
    left: 50%; */
     /* transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: green; */
    /* position: static;
    display: flex; */
    /* margin-top: -150px;
    margin-left: 1000px; */
    /* background:#44455b;
    border-radius: 800px;
    width: 800px;
    height: 800px;
    transform: translate(-50%, -50%); */

.frame2{
    font-weight: 450px;
    position: relative;
    display: flex;
    padding-left: 30px;
    margin-top: 270px;
    margin-left: 10px;
    background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 24px;
    width: 1209px;
    height: 492px;
}    
.text_frame2{
    margin-left: 750px;
    width: 400px;
}
.text_frame2 h3{
    font-size: 25px;
    color: #ff7e00;
    text-align: center;
}
.text_frame2 h1{
    margin-top: -25px;
    font-weight: 500, Bold;
    text-align: center;
    font-size: 50px;
}
.text_frame2 p{
    margin-top: 80px;
    font-size: 18px;
    text-align: justify;
    font-weight: 400, lighter;
}
.text_frame2 h4{
    margin-left: 190px;
    margin-top: -30px;
}
.circulo1{
    border: 1px solid #5dc4b880;
    height: 33px;
    width: 33px ;
    border-radius: 100px;
    margin-top:65px;
    margin-left: 145px;
}
.circulo2{
    border: 1px solid #5dc4b880;
    height: 33px;
    width: 33px ;
    border-radius: 100px;
    margin-top: -35px;
    margin-left: 220px;
}
.seta2{
    margin-top: 7px;
    margin-left: 12px;
}
.seta3{
    margin-top: 6px;
    margin-left: 10px;
}
.img5{
    position: absolute;
    width: 770px;
    height: 592px;
    left: -25px;
    top: -75px;
    
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.img5 img{
    position: absolute;
width: 640px;
height: 495px;
/* left: 1155px;
top: -2522px; */

background: #EF633E;
border-radius: 24px 100px 24px 24px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}


/*     tela 5     */


.tela5{
    height: 80vh;
    background-color: white;
    padding-top: 1px;
}
.div1_tela5{
    margin-left: 45px;
    margin-top: 100px;
    width: 170px;
}
.chef_hat2{
    display: flex;
    position: relative;
    margin-bottom: -49px;
    margin-top: 25px;
    margin-left: 0px;
} 
.p1{
    color: #2f2f2f;
    font-size: 22px;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 70px;
    margin-left: 25px;
}
.tela5 .p2{
    color: #ff7e00;
    width: 200px;
    margin-left: 0px;
}
.links{
    margin-left: -5px;
}
.messenger{
    margin-left: 5px;
}
a:link, a:visited{
    color: #44455b;
    text-decoration: none;
    margin-left: 8px;
}
.div2_tela5{
    width: 90px;
    margin-top: -160px;
    margin-left: 265px;
    line-height: 40px;
}
.div3_tela5{
    margin-left: 408px;
    margin-top: -233px;
}
.div3_tela5 p{
    width: 310px;
}
.div4_tela5{
    margin-left: 730px;
    margin-top: -170px;
}
.div4_tela5 p{
    color: #ff7e00;
    width: 300px;
}
.email{
    margin-left: 1px;
    margin-top: -5px;
    /* width: 30px;
    height: 45px; */
}
.email input{
    border: #f5ede1;
    padding-left: 10px;
    width: 150px;
    height: 45px;
    background: #f9f9f9;
}
.subscribe{
    position: absolute;
    color: white;
    margin-left: 153px;
    margin-top: -50px;
    background-color: #2f2f2f;
    border-radius: 5px;
    width: 102px;
    height: 38px;
    padding-left: 24px;
    padding-top: 11px;
}
.play_store{
    margin-left: -1px;
    margin-top: 17px;
    border: 1px solid #44455b;
    border-radius: 9px;
    width: 140px;
    height: 60px;
    padding-left: 12px;
    padding-top: 8px;
}
.app_store{
    margin-left: 160px;
    margin-top: -71px;
    border: 1px solid #44455b;
    border-radius: 9px;
    width: 134px;
    height: 56px;
    padding-left: 17px;
    padding-top: 12px;
}
.cell{
    margin-left: 1120px;
    margin-top: -230px;
}
.div9{
    text-align: center;
}