
img{
    height: 528px;   
    width:500px;
    top:209px;
    left: 100px;
    margin-left: 160px;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 40px;
    line-height: 135%;
    color:#00235C;
    margin-top: 140px;
    margin-right: 43px;
    float:right;
    height: 120px;
    width: 630px;

    max-width: 800px;
    min-width: 220px;
   
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    line-height: 200%;
    color:#00235C;
    margin-top: -250px;
    margin-right: 110px;
    float:right;
    height: 190px;
    width: 561px;

    max-width: 800px;
    min-width: 110px;

}
@media only screen and (max-width: 1200px) {
    img{
        height: 528px;   
        width:500px;
        top:209px;
        left: 100px;
        margin-left: 90px;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        line-height: 10px;
        line-height: 135%;
        color:#00235C;
        text-align: center;
        margin-top: 5px;
        margin-left: 90px;
        height: 120px;
        width: 500px;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        line-height: 200%;
        color:#00235C;
        margin-top: 70px;
        margin-left: 350px;
        float:right;
        height: 120px;
        width: 380px;
        text-align: center;
    }
        
    
}
 

