body{
    font-family: 'inter';
    background-color: #116CFF;
}
.imagem_principal{
    margin-left: 640px;
    margin-top: -320px;
}
.imagem_6{
    margin-bottom: 50px;
    margin-left: 120px;
    position: absolute;
    left: 30px;
    top: 40px;
    height: 30px;
}
h1{
    width: 520px;
    margin-left: 10%;
    margin-top: 15%;
    color: white;
    font-weight: 800;
    font-size: 50px;
}
.paragrafo_1{
    width: 420px;
    margin-left: 10%;
    margin-top: 3%;
    color: white;
    font-size: 18px;
}
.botao_1{
    position: relative;
    text-align: center;
    color: #116CFF;
    width: 130px;
    height: 20px;
    padding: 12px;
    margin-left: 135px;
    margin-bottom: 70px;
    
    background: white;
    border-radius: 10px;
}
.botao_2{
    color: white;

    text-align: center;
    width: 145px;
    height: 45px;
    padding: 12px;

    border:1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 350px;
    margin-top: -114px;
}

.botao_3{
    color: #116CFF;
    position: static;
    text-align: center;
    width: 80px;
    height: 20px;
    margin-left: 1200px;
    margin-top: -450px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding : 10px;

    background: white;
    border-radius: 10px;
}
.testimony{
    color: white;
    font-size: 14px;
    margin-left: 460px;
    margin-top: -60px;
}
.class{
    color: white;
    font-size: 14px;
    margin-left: 620px;
    margin-top: -30px;
}
.our_activity{
    color: white;
    font-size: 14px;
    margin-left: 780px;
    margin-top: -30px;
}
.contact_us{
    color: white;
    font-size: 14px;
    margin-left: 940px;
    margin-top: -30px;
}